/* carbondream - Copyright 2015 Zeroarc Software, LLC
 *
 * General styles
 */



/* Annotation specific */

.cd-marker {
  color: rgb(99, 131, 255);
  text-shadow: 2px 3px 2px grey;
}

.cd-annotation {
  position: absolute;
}

.cd-annotation-content,
.cd-annotation-input {
  padding: 10px;
  margin: 10px;
  border: solid 1px rgba(0, 0, 0, 0.37);
  border-radius: 3px;
  box-shadow: 2px 3px 4px 2px grey;
  top: -40px;
  left: 22px;
  background-color: #F2F2F2;
  position: relative;
}

.cd-annotation-content::after,
.cd-annotation-input::after,
.cd-annotation-content::before,
.cd-annotation-input::before {
  background-color: #F2F2F2;
  border-left: solid 1px rgba(0, 0, 0, 0.37);
  border-bottom: solid 1px rgba(0, 0, 0, 0.37);
  content: "\00a0";
  display: block;
  left: -11px;
  position: absolute;
  top: 9px;
  transform: rotate( 45deg );
  width:  20px;
  height:  20px;
  z-index: 0;
}

.cd-annotation-content::before,
.cd-annotation-input::before {
  box-shadow: 2px 3px 4px 2px grey;
  content: "\00a0";
  display: block;
  left: -8px;
  z-index: -1;
}

.shadow-helper {
  position: relative;
  z-index: 1;
}

.hidden {
  display: none;
}

